<div class="navbar">
  <h2>
    ДОХІД
  </h2>
</div>

<div class="main-container">
  <div class="container">
    <h2>Прибуток</h2>
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="input-form">
      <div class="form-group">
        <select formControlName="month" id="month" class="form-control" (change)="onChange($event)">
          <option value="" disabled>Вибрати місяць</option>
          <option value="Січень">Січень</option>
          <option value="Лютий">Лютий</option>
          <option value="Березень">Березень</option>
        </select>
      </div>
      <div class="form-group">
      </div>
      <div class="total-income">
        Загальний дохід за {{ selectedMonth }}:{{ calculateTotalIncome(selectedMonth) }}
      </div>

      <div class="form-group">
        <label for="source">Джерело доходу:</label>
        <mat-select formControlName="source" class="form-control">
          <mat-option value="">Оберіть джерело</mat-option>
          <mat-option *ngFor="let source of incomeSources; let i = index" [value]="source">
            <span>
              <app-custom-mat-option [source]="source" [index]="i" (deleteRequest)="deleteIncomeSource(i)"></app-custom-mat-option>
            </span>
          </mat-option>
        </mat-select>
      </div>

      <div class="form-group">
        <label for="incomeName">Або введіть ваше джерело доходу:</label>
        <input type="text" formControlName="incomeName" id="incomeName" class="form-control"
               [value]="incomeForm.get('source').value || ''"
               (input)="incomeForm.get('source').setValue($any($event.target).value.trim())"
               placeholder="Введіть назву доходу" [class.disabled-dropdown]="!monthSelected">
      </div>

      <div class="form-group">
        <label for="amount">Сума:</label>
        <input type="number" formControlName="amount" id="amount" class="form-control"
               placeholder="Введіть суму" [class.disabled-dropdown]="!monthSelected">
      </div>
      <div class="form-group">
      </div>
      <div class="form-group">
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()"
              [class.disabled-dropdown]="!monthSelected">Додати
      </button>
    </form>

    <hr>
    <h3>Перелік доходів - {{ selectedMonth }}</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Джерело доходу</th>
        <th>Сума</th>
        <th>Investments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let income of getFilteredIncomes()">
        <td>{{ income.source }}</td>
        <td>{{ income.amount }}</td>
        <td>{{ income.source }}</td>
      </tr>
      </tbody>
    </table>
    <div class="input-form">
      <button class="btn btn-primary" (click)="onBack()">Назад</button>
      <div class="form-group">
      </div>
      <button class="btn btn-primary" (click)="saveForm()">Сберегти</button>
    </div>
  </div>
</div>
