<div class="navbar">
  <h2>БЮДЖЕТНЕ ПЛАНУВАННЯ</h2>
</div>

<div class="login-container">

  <!--LOGIN-->

  <form *ngIf="activeForm === 'login'" [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Логін</h2>
    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Пароль">
    </div>
    <button type="submit">Логін</button>
    <p (click)="toggleForm('register')">Немає акаунта?
      <span class="highlighted">Зареєструватися</span>
    </p>
  </form>

  <!--  REGISTER-->

  <form *ngIf="activeForm === 'register'" [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Зареєструватися</h2>
    <div class="form-group">
      <input type="text" formControlName="username" placeholder="Ім'я користувача">
    </div>
    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Пароль">
    </div>
    <button type="submit">Зареєструватися</button>
    <p (click)="toggleForm('login')">У вас вже є обліковий запис?
      <span class="highlighted">Логін</span>
    </p>
  </form>
</div>
